<div class="${baseClass}">
    <h2>Greeting view</h2>
    <table>
        <tr>
            <td>Create date</td>
            <td>19/11/1991</td>
        </tr>
        <tr>
            <td>Author</td>
            <td>HuanHH</td>
        </tr>
        <tr>
            <td>Content</td>
            <td>Test c</td>
        </tr>
        <tr>
            <td>Update date</td>
            <td>ontent20/112015</td>
        </tr>
        <tr>
            <td>User update</td>
            <td>Huanhh</td>
        </tr>
    </table>
</div>