<div>
    <div class="sign">
        <div data-dojo-type="dijit/form/Form" data-dojo-attach-point="signForm" action=""
             method="">
            <table>
                <tr>
                    <td>Guestbook name</td>
                    <td><input type="text" data-dojo-attach-point="guestbookNameNode" name="guestbook_name"
                               required="true" data-dojo-type="dijit/form/TextBox"/></td>
                </tr>
                <tr>
                    <td>Guestbook message</td>
                    <td><textarea data-dojo-attach-point="guestbookMessageNode" name="guestbook_mesage"
                                  required="true" data-dojo-type="dijit/form/Textarea"></textarea>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button data-dojo-type="dijit/form/Button" type="submit"
                                name="submitButton" value="Submit"></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <hr/>
    <div class="switchGuest">
        <div data-dojo-type="dijit/form/Form" action="" method="">
            <table>
                <tr>
                    <td>Guestbook name</td>
                    <td><input type="text" id="guestbook_name" name="guestbook_name"
                               required="true" placeholder="Guestbook name"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button data-dojo-type="dijit/form/Button" type="submit"
                                name="submitButton" value="Submit"></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <a href="/sign">Sign greeting</a>
</div>